/JavaCollection/nbproject/private/
/JavaCollection/build/
/SerilizacaoJavaTeste/nbproject/private/
/SerilizacaoJavaTeste/build/
/SerilizacaoJavaTeste/dist/
/Streams/nbproject/private/
/Streams/build/
/Streams/dist/
/JaIO/nbproject/private/
/JavaIO&NIO/nbproject/private/
/JavaIO&NIO/build/
/JavaIO&NIO/dist/
/JavaNet/nbproject/private/
/JavaNet/build/
/JavaNetServer/nbproject/private/
/JavaNetServer/build/
